@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");
.text-primaire, .active {
  color: #F86B3A;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

a.active {
  text-decoration: underline;
  text-decoration-thickness: 5px;
  text-underline-offset: 5px;
}

.text-color {
  color: #DEDEDE;
}

.active:hover {
  color: #aa3f1b;
}

.text-footer {
  color: #6E6E6E;
}

.bg-primaire {
  background-color: #585858;
}

.bg-secondaire {
  background-color: #343434;
}

.bg-footer {
  background-color: #EBEBEB;
}

html, body {
  min-height: 100%;
}

body {
  font-size: 16px;
  background-color: #585858;
  font-family: 'Ubuntu', sans-serif;
}

body a {
  color: #F86B3A;
}

body a:focus, body a:hover {
  color: #aa3f1b;
}

/********
HEADER
********/
header .form-control {
  border-radius: 24px;
  border: none;
}

header .form-control:focus {
  border-color: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: #F86B3A;
  color: white;
}

header .form-control:focus::-webkit-input-placeholder {
  color: white;
}

header .form-control:focus:-ms-input-placeholder {
  color: white;
}

header .form-control:focus::-ms-input-placeholder {
  color: white;
}

header .form-control:focus::placeholder {
  color: white;
}

header nav div a {
  color: #DEDEDE;
}

header h1 {
  color: #F86B3A;
  font-size: 4em;
}

header p {
  max-width: 500px;
  color: #DEDEDE;
}

/********
FOOTER
********/
footer {
  position: -webkit-sticky;
  position: sticky;
  top: 100%;
}

/********
POSTS
********/
.post-container {
  cursor: pointer;
}

.post-container .post {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  /* background-color: #fff; */
  background-clip: border-box;
  /* border: 1px solid rgba(0,0,0,.125); */
  border-radius: 0.25rem;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  overflow: hidden;
}

.post-container .post img {
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
  -webkit-transform: scale(1.01);
          transform: scale(1.01);
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  z-index: -1;
  height: 250px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.post-container .post .post-body {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding: 0.75rem 0.75rem;
  background-color: #585858;
}

.post-container .post .post-body h5 {
  color: #DEDEDE;
  font-size: 1.3rem;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.post-container .post .post-body h6 {
  color: #9C9C9C;
  font-size: 0.9em;
}

.post-container .post .post-body p {
  color: #9C9C9C;
  /** line-clamping one-line **/
  /** line-clamping multi-line ex., 3 **/
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.post-container .post:hover img {
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
}

.post-container .post:hover .post-body {
  background-color: #343434;
}

.post-container .post:hover .post-body h5 {
  color: #F86B3A;
}

/********
TÉLÉVERSEMENT
********/
button, label {
  background-color: #F86B3A;
  border: none;
  max-width: 150px !important;
  padding: 10px 15px;
  border-radius: 24px;
  color: white;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

button:hover, label:hover {
  background-color: #aa3f1b;
}

/********
SVG
********/
svg {
  margin-left: 20px;
  margin-right: 20px;
  cursor: pointer;
}

svg.like:hover rect {
  fill: #54ae3e;
}

svg.like:hover path {
  stroke-width: 5;
}

svg.dislike:hover rect {
  fill: #c84444;
}

/********
PUBLISH
********/
.form-floating > .form-select {
  background-color: #F86B3A;
  color: white;
  border: none;
  border-radius: 24px;
  max-width: 200px;
}

.form-floating > .form-select:focus {
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.form-floating > .form-select ~ label {
  opacity: .5;
  color: white;
}

textarea, input[name="titre"] {
  min-width: 80%;
  border-radius: 24px;
}

textarea {
  height: 500px;
}

/********
AVATAR
********/
.dropdown-menu[data-bs-popper] {
  right: 0;
  left: unset;
}

.link-dark {
  color: #DEDEDE;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.link-dark:hover, .link-dark:focus {
  color: #F86B3A;
}
/*# sourceMappingURL=style.css.map */