@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

// Variables
$primaire: #F86B3A; $primaire_dark: #aa3f1b; $bg_primaire:#585858; $bg_secondaire: #343434;
$bg_footer: #EBEBEB; $texte_color: #DEDEDE; $texte_color_dark: #9C9C9C; $texte_color: #DEDEDE;
$texte_footer: #6E6E6E; $transition: all 0.2s ease; $radius: 24px;

// Fonts (servi localement)
// @font-face {
//     font-family: 'Ubuntu Local';
//     src: url('../fonts/Ubuntu-Regular.ttf') format('truetype');
// }

// Custom classes
.text-primaire, .active { color: $primaire; transition: $transition; }
a.active { text-decoration: underline; text-decoration-thickness: 5px; text-underline-offset: 5px; }
.text-color { color: $texte_color; }
.active:hover { color: $primaire_dark; }
.text-footer { color: $texte_footer; }
.bg-primaire { background-color: $bg_primaire; }
.bg-secondaire { background-color: $bg_secondaire; }
.bg-footer { background-color: $bg_footer; }

html, body {
    height: 100%;
}

body {
    font-size: 16px;
    background-color: $bg_primaire;
    font-family: 'Ubuntu', sans-serif; // servi localement avec 'Ubuntu Local'

    a { color: $primaire;}
    a:focus, a:hover { color: $primaire_dark; }
}

header {
    .form-control {
        border-radius: $radius;
        border: none;

        &:focus {
            border-color: none;
            box-shadow: none;
            background-color: $primaire;
            color: white;

            &::placeholder { color: white;}
        }
    }

    nav div a { color: $texte_color;}

    h1 { color: $primaire; font-size: 4em; }
    p { max-width: 500px; color: $texte_color;}
}

footer {
    position: sticky;
    top: 100%;
}

.post-container {
    cursor: pointer;  // pour simuler un lien cliquable

    // copié de .card
    .post {
        position: relative;
        display: flex;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        /* background-color: #fff; */
        background-clip: border-box;
        /* border: 1px solid rgba(0,0,0,.125); */
        border-radius: 0.25rem;

        transition: $transition;
        overflow: hidden; // pour éviter que l'image sorte de son cadre lors de la transition

        img {
            filter: grayscale(1);
            transform: scale(1.01); // valeur initiale > 1 pour éviter une transition saccadée
            transition: $transition;
            z-index: -1; // pour éviter que l'image s'agrandisse au-dessus du texte
            height: 250px;
            object-fit: cover;
            object-position: center;
        }

        // copié de card-body
        .post-body {
            flex: 1 1 auto;
            padding: 0.75rem 0.75rem;
            background-color: $bg_primaire;


            h5 { color: $texte_color; font-size: 1.3rem; transition: $transition;}
            h6 { color: $texte_color_dark; font-size: 0.9em;}
            p {
                color: $texte_color_dark;
                /** line-clamping one-line **/
                // text-overflow: ellipsis;
                // overflow: hidden;
                // white-space: nowrap;

                /** line-clamping multi-line ex., 3 **/
                display: -webkit-box;
                -webkit-line-clamp: 3;
                -webkit-box-orient: vertical;
                overflow: hidden;
             }
        }

        &:hover {
            img {transform: scale(1.15); filter: grayscale(0); }

            .post-body {
                background-color: $bg_secondaire;

                h5 { color: $primaire;}
            }
        }
    }
}
// label pour inclure le bouton d'upload d'image
button, label:not(.form) {
    background-color: $primaire;
    border: none;
    max-width: 150px !important;
    padding: 10px 15px;
    border-radius: $radius;
    color: white;
    transition: $transition;

    &:hover {
        background-color: $primaire_dark;
    }

    // Pour éviter que le "Catégories" du select ait un bg
    &[for="floatingSelect"] {
        background-color: transparent;
    }
}

// SVG sur posts: changer le positionnement et la couleur :hover
svg.like, svg.dislike { margin-left: 20px; margin-right: 20px; cursor: pointer;}
    // rect pour cibler le background
svg.like:hover rect  { fill: #54ae3e; }
svg.like:hover path  { stroke-width:5; }
svg.dislike:hover rect  { fill: #c84444; }
svg.dislike:hover path  { stroke-width:5; }

/** Publication **/

// Modification du select categories
// copié de boostraps
.form-floating {
    &>.form-select {
        background-color: $primaire;
        color: white;
        border: none;
        border-radius: $radius;
        max-width: 200px;

        &:focus { border: none; box-shadow: none;}

        &~label { opacity: .5; color: white; }
    }
}

textarea, input[name="titre"] {
    min-width: 80%;
    border-radius: 24px;
}

textarea {
    height: 500px;
}



/** Correction au menu avatar **/
.dropdown-menu[data-bs-popper] {
    right: 0;
    left: unset;
}

// Petite flèche du menu avatar
.link-dark {
     color: $texte_color;
     transition: $transition;
     &:hover, &:focus {color: $primaire;}
 }

 .aucune-publication {
     display: flex;
     flex-direction: column;
     text-align: center;
     color: $texte_color;
     height: 100%;

     &>div {
        flex: auto;
     }
 }

 /**
    Message flashé
 **/
.flash {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: $primaire;
    color: white;
    padding: 5px;
    box-shadow: 2px 2px 5px $bg_secondaire;
    animation: fadeout ease 5s forwards;
}

@keyframes fadeout {
    0%  {opacity: 1;}
    90% {opacity: 1;}
    100% {opacity: 0;}
}
